<html>
    <body>
        <h1>Wilson's impeccable default probability predictor</h1>
        <form action="/" method="post">
            <p>Please enter the person's annual income here:</p>
            <p><input type="number" name="income"></p>
            <p></p>
            <p>Please enter the person's age here:</p>
            <p><input type="number" name="age"></p>
            <p></p>
            <p>Please enter the person's loan amount here:</p>
            <p><input type="number" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>CART: {{result1}}</p>
        <p>Random Forest: {{result2}}</p>
        <p>XGBoost: {{result3}}</p>
    </body>
</html>
